<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- <a class="nav-link active" aria-current="page" href="singleemp">Home</a> -->
                <a class="nav-link" href="LndHome">Home</a>
                <!-- <a class="nav-link" href="#">Request Status</a> -->
                <a class="nav-link" href="">Log Out</a>
            </div>
        </div>
    </div>
</nav>

<table>
    <thead>
        <tr>
            <!-- <th>Allocation id</th> -->
            <th>Empid</th>
            <th>Ename</th>
            <th>Status</th>

            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of calres">
            <!-- <td>{{item.Aid}}</td> -->

            <td>{{item.Empid}}</td>
            <td>{{item.Ename}}</td>    
            <td><a type="button" class="btn btn-danger"  >Approve</a> </td>
            <td><a type="button" class="btn btn-danger"  >Reject</a> </td>

        </tr>
    </tbody>
</table>
