.logout
{
    margin-left: 80%;
}
body{



    margin: 0;



    padding: 0;



    font-family: sans-serif;



    background-color: rgb(0, 0, 0);



    height: 100vh;



    overflow: hidden;

    opacity: 90%;



   



}
/* nee  sdvhfhsdhv hdfhgv*/
